//! **************************************************************************
// Written by: Map I.31 on Thu Mar 30 17:57:56 2017
//! **************************************************************************

SCHEMATIC START;
COMP "salida" LOCATE = SITE "G1" LEVEL 1;
COMP "selec<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "selec<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
